<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Form</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h3>Register </h3>
					<a href="{{url_for('user')}}" class="float-right"><strong>UserList</strong></a>
				</div>
				<div class="card-body">
					<form action="{{ url_for('register') }}" method="post">
						{% if mesage is defined and mesage %}
						<div class="alert alert-warning">{{ mesage }}</div>
						{% endif %}
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="phone">Phone:</label>
							<input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone">
						</div>
						<div class="form-group">
							<label for="dob">Date Of Birth:</label>
							<input type="date" class="form-control" id="dob" name="dob" placeholder="">
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label>
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Enter Password">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
						  
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>