<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Form</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
</head>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h3>Users List </h3>
					<a href="{{url_for('register')}}" class="float-right"><strong>User Register</strong></a>
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>DOB</th>
								<th>Password</th>
							</tr>
						</thead>
						<tbody>
							{% for u in users%}
							<tr>
								<td>{{u.userid}}</td>
								<td>{{u.name}}</td>
								<td>{{u.email}}</td>
								<td>{{u.phone}}</td>
								<td>{{u.dob}}</td>
								<td>{{u.password}}</td>
							</tr>
							{%endfor%}
							
						</tbody>
					</table>

				</div>

			</div>
		</div>
	</div>
</div>

</body>

</html>